{% extends 'layout.html' %}


{% block context-nav %}
  <ul>
    <li><a href="{% url project-index %}">index</a></li>
    <li><a href="{% url project-edit project.id %}">edit</a></li>
  </ul>
{% endblock %}

{% block alpha %}
  <div class="project-detail"
    data-projectPath="/project/{{project.id}}"
    data-shareJsUrl="{{SHAREJS_URL}}/sjs"
    style="display:none;">
    <h1>{{project.name}}</h1>
    <p>{{project.created_on}}</p>
    <p>{{project.description}}</p>
    <form id="quick-new-task" method="post" action="/tasks">
      <input type="hidden" name="project" value="{{project.id}}"></input>
      <ul>
        <li><textarea name="description"></textarea></li>
        <li><input type="submit" value="Create Task"></input></li>
      </ul>
    </form>
  </div>
  <div class="task-detail" style="display:none;">
    <textarea></textarea>
  </div>
{% endblock %}

{% block beta %}
  <h2>The Pile</h2>
  <ul class="pile" data-project="{% url project-detail project.id %}">
  </ul>
{% endblock %}
