{% extends 'layout.html' %}


{% block context-nav %}



  <ul>
    <li><a href="{% url project-index %}">index</a></li>
    <li><a href="{% url project-edit project.id %}">edit</a></li>
  </ul>
{% endblock %}

{% block alpha %}
  <h1>{{project.name}}</h1>
  <p>{{project.created_on}}</p>
  <p>{{project.description}}</p>
  {% if task %}
  <form id="quick-new-task" method="post" action="{% url task-new %}"
    style="display:none;">
  {% else %}
  <form id="quick-new-task" method="post" action="{% url task-new %}">
  {% endif %}
    {% csrf_token %}
    <input type="hidden" name="project" value="{{project.id}}"></input>
    <ul>
      <li><textarea name="description"></textarea></li>
      <li><input type="submit" value="Create Task"></input></li>
    </ul>
  </form>
  <div class="project-detail">
    <textarea></textarea>
  </div>
{% endblock %}

{% block beta %}
  <h2>The Pile</h2>
  <ul class="pile" data-project="{% url project-detail project.id %}">
    {% for t in tasks %}
    {% if t == task %}
    <li class="ui-state-default ui-state-active" data-taskId="{{t.id}}">
    {% else %}
    <li class="ui-state-default" data-taskId="{{t.id}}">
    {% endif %}
      <a href="{% url project-detail-task project.id, t.id %}">
        {{t|truncatewords:10}}
      </a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
