{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>Preject</title>
    <link type="text/css" href="{{STATIC_PREFIX}}/project.css" rel="Stylesheet" />
    <link type="text/css" href="{{STATIC_PREFIX}}jquery-ui/css/le-frog/jquery-ui-1.8.14.custom.css" rel="Stylesheet" />
  </head>
  <body>
    <div class="alpha">
      <nav>{% block context-nav %}{% endblock %}</nav>
      {% block alpha %}{% endblock %}
    </div>
    <div class="beta">{% block beta %}{% endblock %}</div>
    <script type="text/javascript" src="{{STATIC_PREFIX}}jquery-ui/js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}jquery-ui/js/jquery-ui-1.8.14.custom.min.js"></script>
    <script src="{{SHAREJS_URL}}/socket.io/socket.io.js"></script>
    <script src="{{SHAREJS_URL}}/share/share.uncompressed.js"></script>
    <script src="{{SHAREJS_URL}}/share/json.js"></script>
    <script src="{{STATIC_PREFIX}}/project.js"></script>
  </body>
</html>
